<section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4 class="mdl-cell mdl-cell--12-col">Nenhum vídeo enviado ainda</h4>
      <p>
        Até agora não foi enviado nenhum vídeo para ser transformado. Faça o upload de um vídeo nos formatos <strong>mp4</strong>, <strong>ogg</strong> ou <strong>webm</strong> para serem transformados para <strong>mp4</strong>
      </p>
      <p>
        <%= link_to 'Enviar um vídeo', new_video_path, class: 'mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent' %>
      </p>
    </div>
  </div>
</section>