    <div id="explanation">
      <div class="alert alert-info">
        O vídeo ainda está sendo convertido pelo Zencoder. Atualize a página em alguns segundos para verificar se ele já está pronto.
      </div>
    </div>