    <div id="explanation">
      <div class="alert alert-info">
        A conversão do vídeo falhou. Pode ser um problema inesperado ou o Zencoder pode não ser capaz de convertê-lo. Experimente enviar um novo vídeo.
      </div>
    </div>