  <video id="my-video" class="video-js" controls preload="auto" width="<%= @video.largura %>" height="<%= @video.altura %>" data-setup="{}">
    <source src="<%= @video.arquivo_convertido %>" type='video/mp4'>
    <p class="vjs-no-js">
      Para assistir a este vídeo, habilite o Javascript de seu navegador
      <a href="http://videojs.com/html5-video-support/" target="_blank">Suporte a video HTML5</a>
    </p>
  </video>