<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
  <a class='mdl-layout__tab is-active'>Visão Geral</a>
  <%= link_to "Vídeos", '/videos', class: "mdl-layout__tab" %>
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored mdl-shadow--4dp mdl-color--accent" id="add">
    <i class="material-icons" role="presentation">add</i>
    <span class="visuallyhidden">Add</span>
  </button>
</div>