<div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
  <% ApplicationHelper::UI::Menu.new(ativo).items.each do |item| %>
    <%= link_to item.titulo, item.url,
     class: item.css_class %>
  <% end %>
</div>