<% content_for(:menu) do %>
  <%= render :partial => 'shared/menu', :locals => {ativo: :home} %>  
<% end %>

<% content_for(:conteudo) do %>
  <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
    <div class="mdl-card mdl-cell mdl-cell--12-col">
      <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">
        <h4 class="mdl-cell mdl-cell--12-col">Stack</h4>
        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--accent"><i class="material-icons icone-inserido">settings</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Backend</h5>
          Ruby on Rails 4.2.6, Ruby 2.2.1 e MySQL
        </div>

        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--accent"><i class="material-icons icone-inserido">code</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Frontend</h5>
          Material Design (HTML5/CSS), jQuery, Dropify e videojs.
        </div>

        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--accent"><i class="material-icons icone-inserido">extension</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Midleware</h5>
          Zencoder, Sidekiq, Sidetiq e Redis
        </div>

        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--accent"><i class="material-icons icone-inserido">computer</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>Infraestrutura</h5>
          Amazon EC2, Amazon S3, Nginx e Puma
        </div>  

        <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
          <div class="section__circle-container__circle mdl-color--accent"><i class="material-icons icone-inserido">face</i></div>
        </div>
        <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone">
          <h5>DevOps</h5>
          Capistrano
        </div>                      
      </div>
    </div>
  </section>
<% end %>