.dropify-wrapper {
  margin: 10px 0;
  width: auto !important;
}

.info-label {
  display: inline-block;
  color: white;
  padding: 3px 5px;
}

.info-label.pending {background: #ccc;}
.info-label.transcoding {background: #00BCD4;}
.info-label.finished {background: #4caf50;}
.info-label.failed {background: #FF4081;}

.alert-error {
  background: rgb(255,64,129);
  padding: 10px;
  color: #fff;
}